.u-section-1 .u-sheet-1 {
  min-height: 384px;
}

.u-section-1 .u-image-1 {
  width: 654px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 363px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 229px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 180px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 15px;
  }
}