.u-section-1 .u-sheet-1 {
  min-height: 384px;
}

.u-section-1 .u-image-1 {
  width: 570px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 280px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 0;
}